html {
	box-sizing: border-box;
}

div, section {
	border: 1px solid blue;
}

.content {
	margin: 0 auto;
	max-width: 100%;
	padding: 30px;
	text-align: center;
}

.content h3 {

}

.content > .piece {
	display: inline-block;
	width: 33%;
	width: 28%;
	text-align: center;
	margin-right: -4px;
	height: 300px;
	margin: 14px;
}

.piece > img {
	border: 1px solid #C7C7C7;
	width: 100%;
}
